/* Admin Dashboard Styling */

.admin-dashboard {
    width:100%;
    min-height: 100vh; 
    padding: 30px;
    font-family: "Outfit", sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #d6e4ff);
  }
  h1{
    text-align: center;
  }
  .stats-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin-bottom: 30px;
  }
  
  .stat-card {
    background: #fff;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    width: 22%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .stat-card:hover {
    transform: translateY(-5px);
  }
  
  .stat-card h2 {
    font-size: 36px;
    color: #007bff;
  }
  
  .stat-card p {
    font-size: 18px;
    color: #555;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background: #007bff;
    color: white;
  }
  
  .btn-action {
    background: #28a745;
    color: white;
    padding: 6px 12px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-upload {
    background: #007bff;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
  }
  