h1{
    font-size:70px;
}
.app-container p{
    margin-top:15px;
    font-size: 30px;
}
.btn{
    font-family: "Outfit",sans-serif;
    margin-top: 60px;
    max-width:20%;
    margin-left: 420px;
    height:1.2cm;
}